@model UdemyMvcPortfolio.Models.Entity.Certificates
@{
    ViewBag.Title = "Sertifika Ekleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">

    <label> Sertifika Açıklaması</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />

    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Kaydet</button>

</form>


