@model List<UdemyMvcPortfolio.Models.Entity.SocialMedia>


<div class="social-icons">
    @foreach (var item in Model)
    {
        <a class="social-icon" href="@item.Link"><i class="fab fa-@item.İcon">@item.SocialmediaName</i></a>
        @*<a class="social-icon" href="#"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>*@
    }
</div>

